[submodule "plugins/itamae-plugin-recipe-rbenv"]
	path = plugins/itamae-plugin-recipe-rbenv
	url = git@github.com:k0kubun/itamae-plugin-recipe-rbenv.git
[submodule "plugins/itamae-plugin-resource-cask"]
	path = plugins/itamae-plugin-resource-cask
	url = https://github.com/k0kubun/itamae-plugin-resource-cask.git
